.product{
    display: flex;
    align-items: center;
}
.name-and-pic{
    display: flex;
    justify-content: center;
    padding: 30px;
}
.new-product{
    margin-right: 30px;
}
.new-product h1{
    font-size: 47px;
}
.your-choose{
    color: goldenrod
}

.review-people{
    display: flex;
    justify-content: center;
}
.seeAll{
    background-color: black;
    color: aqua; 
    padding: 10px;
    border-radius: 5px;
    width: 300px;
}

.seeAll-button{
    margin-bottom: 20px;
}